<div>
  <h1 *ngIf="esconder">esse é o componente</h1>
  <button [style.background]="esconder ? 'green' : 'red'" (click)="esconder = !esconder">
    {{ esconder ? 'clique e esconda' : 'apareca' }}
  </button>
  <input [(ngModel)]="email">
  <p> nome digitado: {{ email }}</p>
<div
 *ngIf="greet;else none"
>
  <input [value] = 'initialValue'>
  <button (click)="decrementar()">decrementar</button>
  <button (click)="incrementar()">incrementar</button>
</div>
<ng-template #none>
  <p>resultado não disponivel</p>
</ng-template>
<div>

</div>
<button [class.title]="aba == 'home'"(click)="aba = 'home'">home</button>
<button [class.title]="aba == 'about'"(click)="aba = 'about'">about</button>
<button [class.title]="aba == 'contacts'"(click)="aba = 'contacts'">contacts</button>


<div [ngSwitch]="aba">
  <div *ngSwitchCase="'home'">esse é o home</div>
  <div *ngSwitchCase="'about'">esse é o about</div>
  <div *ngSwitchCase="'contacts'">esse é o contacts</div>
</div>
