.content{
  width: 80vw;
  padding: 0px 50px;
}
.tabsContent {
  width: 160px;
}
.title {
  font-weight: 500;
  letter-spacing: 1.0px;
  font-size:18.72px;
}
.mainContent{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.add {
  margin-right: 7px;
}
.newNote {
  background-color: #292961;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  height: 40px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
}
.NoshowMessage{
  font-size: 32px;
  font-weight: 500;
  color: #a1a1a1;
}
.subtitleNoGeneral{
  font-size:14px ;
  font-weight: 400;
}
.noGroup{
  width:550px;
}
