<section class="loginPage">
  <div class="containerImg">
    <div class="logoNav">
      <img src="./assets/logo.png">
    </div>
    <div class="wrapper_img">
      <img class="loginImg" src="./assets/login2.svg">
      <h1 class="greetleft">Agilize seu tempo com nossa plataforma gratuita</h1>
    </div>
  </div>
  <div class="leftContainer">
    <div class="containerInput">
      <div class="inputField">
        <h1 class="greet">heyyy,<br> seja bem vindo</h1>
        <p class="register">Não tem uma conta ? <a class="registerPage"> clique aqui</a></p>
      <label for="">E-mail</label>
      <input class="search" type="text" placeholder="seuemail@email.com">
      <label for="">Senha</label>
      <input class="search" type="password" placeholder=".....">
      <div class="links">
        <p>esqueceu a senha?</p>
        <a class="terms">clique aqui</a>
      </div>
      <button>Entrar</button>
      <span class="protect">o site é protegido por mim mesmo rs, leia os <a class="terms">termos</a></span>
      </div>
    </div>
  </div>
</section>
