<section *ngIf="!loginOn;else layout_blank" class="wrapper">
  <div [ngClass]="{navContent: miniNav, mininav:!miniNav }">
    <div class="wrapperOrganization">
      <div class="yourOrganization">
        <div class="photoContainer">
          <p class="organizationPhoto">org</p>
        </div>
        <div>
          <p  *ngIf="miniNav" class="nameOrganization">nome da organização <span class="workspace">workspace</span></p>
        </div>
      </div>
    </div>
    <div class="wrapperMainContent">
      <div class="mainContent">
        <button class="btn">
          <mat-icon class="icon">search</mat-icon>
          <p *ngIf="miniNav">Pesquisar</p>
        </button>
        <button [routerLink]="['/posts']" class="btn">
          <mat-icon class="icon">description</mat-icon>
          <p *ngIf="miniNav">Geral</p>
        </button>
        <button [routerLink]="['/tarefas']" class="btn">
          <mat-icon class="icon">task</mat-icon>
          <p *ngIf="miniNav">minhas Tarefas</p>
        </button>
        <button [routerLink]="['/grupo']" class="btn">
          <mat-icon class="icon">people</mat-icon>
          <p *ngIf="miniNav">Grupo</p>
        </button>
      </div>
      <div class="contentNotification">
        <mat-icon (click)="miniNav = true" class="arrowBack falseArrow"*ngIf="!miniNav">arrow_forward_ios</mat-icon>
        <button class="btn">
          <mat-icon class="icon">notifications</mat-icon>
          <p *ngIf="miniNav">Notificações</p>
        </button>
      </div>
    </div>
    <div class="footerNav">
      <button class="contentProfile">
        <mat-icon class="ownprofile icon">person</mat-icon>
        <p *ngIf="miniNav">profile</p>
      </button>
      <mat-icon (click)="miniNav = false" class="arrowBack">{{!miniNav ? '' : 'arrow_back_ios' }}</mat-icon>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>

<ng-template #layout_blank>
  <router-outlet></router-outlet>
</ng-template>
