.wrapper {
  display: flex;
}
.navContent {
  background-color: #f0f2f5;
  min-height: 100vh;
  width: 250px;
}
.textCreate {
  margin-left: 30px;
}
.wrapper_buttonNoGroup{
  width: 100%;
}
.iconNoGroup {
  margin-left: 25px;
}
.btn.activeRoute  {
  background-color:rgb(226, 226, 226);
  border-radius: 10px;
}
.mininav {
  background-color: #f0f2f5;
  min-height: 100vh;
  width: 5%;
}
.nameOrganization {
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  outline: none;
  color: black;
  display: block;
}
.workspace {
  color: #a1a1a1;
  font-size: 12px;
}

.organizationPhoto {
  background-color: #292961;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  outline: none;
  margin-right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 12px;
}
.yourOrganization {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 12px;
  color: #fff;
  width: 80%;
}
.wrapperOrganization{
  padding: 25px 0px;
  display: flex;
  justify-content: center;
}
.wrapperMainContent {
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainContent {
  color: #fff;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contentNotification {
  padding: 0px 25px;
}
.dd {
  display: none;
}
.btn {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #a1a1a1;
  display: flex;
  outline: none;
  cursor: pointer;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-top: 25px;
}
.icon {
  margin-right: 20px;
}
.footerNav{
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contentProfile {
  font-weight: 500;
  font-size: 14px;
  color: #a1a1a1;;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}
.arrowBack {
  color: #a1a1a1;
  font-size: 18px;
}
.falseArrow {
  padding: 0px 10px;
}
