.wrapper {
  display: flex;
}
.navContent {
  background-color: #f0f2f5;
  min-height: 100vh;
  width: auto;
}
.mininav {
  background-color: #f0f2f5;
  min-height: 100vh;
  width: 5%;
}
.photoContainer {
  padding: 0px 25px;
}
.nameOrganization {
  font-size: 12px;
  color: black;
}
.workspace {
  color: #a1a1a1;
}
.organizationPhoto {
  background-color: #292961;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 12px;
}
.yourOrganization {
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  align-items: center;
  color: #fff;
  width: 80%;
  justify-content: space-around;
}
.wrapperOrganization{
  padding: 25px 0px;
  display: flex;
  justify-content: center;
}
.wrapperMainContent {
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainContent {
  color: #fff;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contentNotification {
  padding: 0px 25px;
}
.btn {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #a1a1a1;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-top: 25px;
}
.icon {
  margin-right: 20px;
}
.footerNav{
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contentProfile {
  font-weight: 500;
  font-size: 14px;
  color: #a1a1a1;;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}
.arrowBack {
  color: #a1a1a1;
  font-size: 18px;
}
.falseArrow {
  padding: 0px 10px;
}
